<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certiflix</title>
    <link rel="icon" href="shopping.png" type="image/x-icon">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
    <div class="center-section">
        <div class="button">
            <a href="terms.html">Terms and Conditions</a> |
            <a href="about.html">About Us</a>
        </div>
        <div class="transparent-background">
            <h1>
                "Verify, Before You Amplify!"
            </h1>
            <div class="cta-buttons">
                <a href="register.html">Register</a>
                <a href="login.html">Login</a>
            </div>
        </div>
       
    </div>
    

    <div class="foot">
        <div class="social-icons">
            
            <a href="https://www.facebook.com/YourFacebookPage" class="social-icon">
                <img src="facebook.png" alt="Facebook Icon">
            </a>
        
            <a href="https://twitter.com/YourTwitterProfile" class="social-icon">
                <img src="twitter.png" alt="Twitter Icon">
            </a> 
        
            <a href="https://www.instagram.com/YourInstagramProfile" class="social-icon">
                <img src="instagram.png" alt="Instagram Icon">
            </a>
            <p>&copy; 2023 Certiflix. All rights reserved.</p>
        </div>
    </div>

    <script src="home.js"></script>
</body>
</html>